<!-- Button trigger modal -->

  
  <!-- Modal -->
  <div class="modal fade" id="deletemodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-2" id="exampleModalLabel">Task Remove</h1>
          {% comment %} <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> {% endcomment %}
        </div>
        <div class="modal-body text-dark fw-bold">
          You want to remove this task?
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary btn-sm" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-warning btn-sm btn-outline-secondary" onclick="delete_task()">Remove</button>
        </div>
      </div>
    </div>
  </div>